|===
|필드명|타입|제약 조건|양식|설명

{{#fields}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{#constraints}}{{.}} +
    {{/constraints}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#format}}{{.}}{{/format}}{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===